data-factory-resources/pipeline/ClassMetaData.json
{
	"name": "ClassMetaData",
	"properties": {
		"activities": [
			{
				"name": "Get File List",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ABS_CSV",
						"type": "DatasetReference",
						"parameters": {
							"Container": "newsampledata",
							"Directory": {
								"value": "@pipeline().parameters.FolderPath",
								"type": "Expression"
							},
							"File": " ",
							"LinkedServiceConnectionSecret": "StorageAccountConnectionString"
						}
					},
					"fieldList": [
						"exists",
						"itemType",
						"itemName",
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get File List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get File List').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name,'202004' )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "Azure-Data-Factory-by-Example-Second-Edition-main/SampleData/NaughtyButNice",
							"wildcardFileName": {
								"value": "@activity('Filter1').output.Value.name",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_getabs_csv",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ABS_CSV",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"FolderPath": {
				"type": "string",
				"defaultValue": "Azure-Data-Factory-by-Example-Second-Edition-main/SampleData/NaughtyButNice"
			}
		},
		"folder": {
			"name": "Chapter6"
		},
		"annotations": []
	}
}