data-factory-resources/pipeline/ImportSTFormatFile_Divert.json
{
	"name": "ImportSTFormatFile_Divert",
	"properties": {
		"activities": [
			{
				"name": "Import sales data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set RunSeqNo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "SourceFileName",
								"value": "$$FILEPATH"
							},
							{
								"name": "RunSeqNo",
								"value": {
									"value": "@variables('RunSeqNo')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE dbo.Sales_LOADv1",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Warning",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "ls_ABS_KV_ADFByExample",
								"type": "LinkedServiceReference"
							},
							"path": "output/error"
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ABS_CSV",
						"type": "DatasetReference",
						"parameters": {
							"Container": "newsampledata",
							"Directory": {
								"value": "@pipeline().parameters.Directory",
								"type": "Expression"
							},
							"File": {
								"value": "@pipeline().parameters.File",
								"type": "Expression"
							},
							"LinkedServiceConnectionSecret": "StorageAccountConnectionString"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ASQL_dboSalesLoad",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Log pipeline outcome",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[LogPipelineEndv1]",
					"storedProcedureParameters": {
						"FilesRead": {
							"value": {
								"value": "@activity('Import sales data').output.filesRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsCopied": {
							"value": {
								"value": "@activity('Import sales data').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsRead": {
							"value": {
								"value": "@activity('Import sales data').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunEndDateTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"RunSeqNo": {
							"value": {
								"value": "@variables('RunSeqNo')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunStatus": {
							"value": "Done",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup RunSeqNo",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[LogPipelineStartv1]",
						"storedProcedureParameters": {
							"Comments": {
								"type": "String",
								"value": {
									"value": "@concat('Pipeline ',pipeline().Pipeline,' executed in ',pipeline().DataFactory)",
									"type": "Expression"
								}
							},
							"PipelineRunId": {
								"type": "Guid",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"RunStartDateTime": {
								"type": "DateTime",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ASQL_dboSalesLoad",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set RunSeqNo",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup RunSeqNo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunSeqNo",
					"value": {
						"value": "@int(activity('Lookup RunSeqNo').output.firstRow.RunSeqNo)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set return value",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set RunSeqNo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "PipelineRunSeqNo",
							"value": {
								"type": "Expression",
								"content": "@variables('RunSeqNo')"
							}
						}
					],
					"setSystemVariable": true
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Import sales data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Import sales data').output.rowsSkipped, 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@join(skip(split(activity('Import sales data').output.logFilePath,'/'),1),'/')",
											"type": "Expression"
										},
										"wildcardFileName": "*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ABS_CSV",
									"type": "DatasetReference",
									"parameters": {
										"Container": "output"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Log pipeline failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Import sales data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[LogPipelineEndv1]",
					"storedProcedureParameters": {
						"FilesRead": {
							"value": {
								"value": "@activity('Import sales data').output.filesRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsCopied": {
							"value": {
								"value": "@activity('Import sales data').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsRead": {
							"value": {
								"value": "@activity('Import sales data').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunEndDateTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"RunSeqNo": {
							"value": {
								"value": "@variables('RunSeqNo')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunStatus": {
							"value": "Failure",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"Directory": {
				"type": "string"
			},
			"File": {
				"type": "string",
				"defaultValue": "*.csv"
			}
		},
		"variables": {
			"RunSeqNo": {
				"type": "Integer",
				"defaultValue": -1
			}
		},
		"folder": {
			"name": "Chapter6"
		},
		"annotations": []
	}
}