data-factory-resources/pipeline/ImportSweetTreatsAndDesserts4All.json
{
	"name": "ImportSweetTreatsAndDesserts4All",
	"properties": {
		"activities": [
			{
				"name": "Execute_ImportSweetTreat",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ImportSTFormatFolder",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"WildcardFolderPath": "Azure-Data-Factory-by-Example-Second-Edition-main/SampleData/SweetTreats",
						"WildcardFileName": "*.csv"
					}
				}
			},
			{
				"name": "Execute_Desserts4All",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute_ImportSweetTreat",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ImportSTFormatFolder",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"WildcardFolderPath": "Azure-Data-Factory-by-Example-Second-Edition-main/SampleData/Desserts4All",
						"WildcardFileName": "*.csv"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute_Desserts4All",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ReturnedValue",
					"value": {
						"value": "@activity('Execute_Desserts4All').output.pipelineReturnValue.PipelineRunSeqNo",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"ReturnedValue": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "Chapter5"
		},
		"annotations": []
	}
}