data-factory-resources/pipeline/LoadJollyGoodSales.json
{
	"name": "LoadJollyGoodSales",
	"properties": {
		"activities": [
			{
				"name": "LookupSeqNo",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[LogPipelineStartv1]",
						"storedProcedureParameters": {
							"Comments": {
								"type": "String",
								"value": {
									"value": "@concat('Pipeline ',pipeline().Pipeline,' executed in ',pipeline().DataFactory)",
									"type": "Expression"
								}
							},
							"PipelineRunId": {
								"type": "Guid",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"RunStartDateTime": {
								"type": "DateTime",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ASQL_dboSalesLoad",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "TransformJollyGoodSales",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "LookupSeqNo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "TransformJollyGoodSales",
						"type": "DataFlowReference",
						"parameters": {
							"RunSeqNo": {
								"value": "@int(activity('LookupSeqNo').output.firstRow.RunSeqNo)",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"folder": {
			"name": "Chapter7"
		},
		"annotations": []
	}
}